
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_router_txt3{padding-left:2px !important;}
#purple {
    background-color: #C1ABD1;
   display:inline-block;
    padding:0;
	margin:0;
	width:298.7px;
	border:collapse;
	
	

}
mark{background-color:#fff}
@media only screen and (device-width: 768px) {
#ID_static_9, #ID_static_12{
	width:180px !important;
	}
#ID_table01{
	height:120px !important;
	}
}